{% extends 'base.html' %} {% load static %} {% block head %}
<link rel="stylesheet" href="{% static 'css/pens/pen-index.css' %}" />
{% endblock %} {% block content %}

<section class="page-header">
  <h1>My Pen Collection</h1>
</section>

<section class="card-container">
  <div class="brand-section">
    {% for pen in pens %}
    <div class="card">
      <a href="{% url 'pen-detail' pen.id %}">
        <div class="card-content">
          <div class="card-img-container">
            <img
              src="{% static 'images/fountainPen.png' %}"
              alt="A fountain pen"
              class="fountainPen"
            />
          </div>
          <h3 class="card-title">{{ pen.brand }}</h3>
          <h3 class="card-title">{{ pen.model }}</h3>
          <p>Nib: {{ pen.nib_size }}</p>
        </div>
      </a>
    </div>
    {% endfor %}
  </div>
</section>

<section class="page-header">
  <h1>Currently Inked</h1>
</section>
<div class="penList subsection-content">
  <section>
<ul>
{% for pen in pens %}
  <li>
    <strong>{{ pen.brand }} {{ pen.name }}</strong>
    <ul>
      {% for log in pen.ink_logs.all %}
        {% if not log.date_cleaned %}
          <li>
            Inked with <strong>{{ log.ink.brand }} {{ log.ink.name }}</strong>
            on {{ log.date_inked }} ({{ log.days_inked }} days)
          </li>
        {% endif %}
      {% empty %}
        <li>No active ink</li>
      {% endfor %}
    </ul>
  </li>
{% endfor %}
</ul>
</section>
</div>

{% endblock %}
