{% extends 'base.html' %} {% load static %} {% block head %}
<link
  rel="stylesheet"
  href="{% static 'css/pens/pen-index.css' %}"
/>
{% endblock %} {% block content %}

<section class="page-header">
  <h1>My Pen Collection</h1>
</section>

<section class="card-container">
  {% for pen in pens %}
  <div class="card">
    <a href="{% url 'pen-detail' pen.id %}">
    <div class="card-content">
      <div class="card-img-container">
        <img
          src="{% static 'images/fountainPen.png' %}"
          alt="A fountain pen" class='fountainPen'
        />
      </div>
      <h2 class="card-title">{{ pen.brand }}</h2>
      <p><small>{{ pen.model }}</small></p>
    </div>
  </a>
  </div>
  {% endfor %}
</section>

{% endblock %}