{% extends 'base.html' %} {% load static %} {% block head %}
<link rel="stylesheet" href="{% static 'css/inks/ink-index.css' %}" />
{% endblock %} {% block content %}

<section class="page-header">
  <h1>My Ink Collection</h1>
</section>

<section class="card-container">
  {% regroup ink_list by brand as brand_list %}
  {% for brand in brand_list %}
  <h2>{{ brand.grouper }}</h2>
  <table class="ink-table">
    {% for ink in brand.list %}
    <tr>
      <td>
        <span
          class="color-box"
          style="background-color: {{ ink.hex_code }};"
        ></span>
      </td>
      <td class="ink-name">
        <a href="{% url 'ink-detail' ink.id %}">{{ ink.name }}</a>
      </td>
      <td class="ink-size">{{ ink.get_size_display }}</td>
      <td class="notes">{{ ink.notes }}</td>
    </tr>
  </table>
  {% endfor %}
  {% endfor %}
</section>

{% endblock %}
