{% extends 'base.html' %} 
{% load static %} 
{% block head %}
<link rel="stylesheet" href="{% static 'css/inks/ink-detail.css' %}" />
{% endblock %} 
{% block content %}

<section class="cat-container">
  <div class="cat-details">
    <h2>{{ ink.brand }}</h2>
    <h2>{{ ink.name }}</h2>

      <img src="{{ ink.swatch_img.url }}" alt="swatch of {{ink.name}}">


    <p><strong>Shimmer:</strong> {{ ink.shimmer }}</p>
    <p><strong>Sheen:</strong> {{ ink.sheen }}</p>
    <p>
      <strong>Ink Size:</strong> {{ ink.get_size_display }}
    </p>
    <p><strong>Acquired Date:</strong> {{ ink.acquired_date }}</p>

    {% if ink.notes %}
    <p><strong>Notes:</strong> {{ ink.notes }}</p>
    {% else %}
    <p>No notes available.</p>
    {% endif %}

<div class='cat-actions'>
<a href="{% url 'ink-update' ink.id%}" class="btn warn">Edit</a>
<a href="{% url 'ink-delete' ink.id%}" class="btn danger">Delete</a>
</div>
</section>

{% endblock %}