{% extends 'base.html' %} 
{% load static %} 
{% block head %}
<link rel="stylesheet" href="{% static 'css/inks/ink-index.css' %}" />
{% endblock %} 
{% block content %}

<section class="page-header">
  <h1>My Ink Collection</h1>
</section>

<section class="card-container">
  {% for ink in ink_list %}
    <div class="card" style="border-color: {{ ink.color }}">
      <div class="card-bg" style="background-color: {{ ink.color }}"></div>
      <a href="{% url 'ink-detail' ink.id %}">
        <div class="card-content">
          <h2>{{ ink.brand }}</h2>
          <p>{{ ink.name }}</p>
        </div>
      </a>
    </div>
  {% endfor %}
</section>

{% endblock %}