{% extends 'base.html' %} 
{% load static %} 
{% block head %}
<link rel="stylesheet" href="{% static 'css/toys/toy-index.css' %}" />
{% endblock %} 
{% block content %}

<section class="page-header">
  <h1>All Cat Toys</h1>
  <img src="{% static 'images/string.svg' %}" alt="A ball of string" />
  <img src="{% static 'images/mouse.svg' %}" alt="A mouse" />
  <img src="{% static 'images/post.svg' %}" alt="A scratching post" />
  <img src="{% static 'images/fish.svg' %}" alt="A fishy toy" />
</section>

<section class="card-container">
  {% for ink in ink_list %}
    <div class="card" style="border-color: {{ ink.color }}">
      <div class="card-bg" style="background-color: {{ ink.color }}"></div>
      <a href="{% url 'ink-detail' ink.id %}">
        <div class="card-content">
          <h2>{{ ink.brand }}</h2>
          <p>{{ ink.name }}</p>
        </div>
      </a>
    </div>
  {% endfor %}
</section>

{% endblock %}