body {
  margin: 0 auto;
}

.brand-section {
  padding: 0 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.brand-header {
  padding-left: 5rem;
}

.card {
  width: 170px;
  margin: 10px;
  border: var(--borders);
  box-shadow: var(--card-box-shadow);
}

.card-content {
  padding: 10px;
  width: 100%;
}

.usr-img {
  width: 100%;
  border-radius: var(--card-border-radius);
}

.card > a {
  text-decoration: none;
  color: var(--text-color);
}

.card h2 {
  margin: 10px 0;
  font-size: var(--font-xl);
}

.card p {
  margin: 5px 0;
  font-size: var(--font-reg);
}

.card-title {
  font-size: 1.5em;
}

.fountainPen {
  width: 150px;
  height: auto;
}

.penList {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  align-items: center;
}

.penList > section {
  width: 80%;
  min-width: 200px;
  border: var(--borders);
  border-radius: var(--card-border-radius);
  padding: 10px;
  box-shadow: var(--card-box-shadow);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20px;
}

.subsection-content p,
.subsection-content input,
.subsection-content li {
  font-size: var(--font-l);
}

.subsection-content li {
  margin-left: 5px;
  padding: 3px;
}